.git
.venv
.pytest_cache
.coverage
htmlcov
notes/
tests/
work/
**/__pycache__/
**/*.pyc
**/*.gguf
**/.env*
ai-models/
q-data/
src/assets/
**/alembic.ini
hf_cache/*
!hf_cache/hub/
!hf_cache/hub/**
hf_cache/hub/.locks/
hf_cache/hub/**/.locks/
