APP_NAME="RAG-ISHMS"
APP_VERSION="0.1"
FILE_ALLOWED_TYPES=["text/plain", "application/pdf", "application/octet-stream"]
FILE_MAX_SIZE=1000
FILE_CHHUNK_SIZE=512000

################ DB CONFIG ################
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_HOST=pgvector
POSTGRES_PORT=5432
POSTGRES_MAIN_DATABASE=rag-ishms

################ LLM CONFIG ################
COHERE_API_KEY=your_cohere_api_key
OPENAI_API_KEY=your_nvidia_or_openrouter_api_key
OPENAI_BASE_URL=https://integrate.api.nvidia.com/v1
LLAMA_CPP_URL=http://localhost:8080/v1
LLama_CPP_API_KEY=your_llama_cpp_key
GOOGLE_AI_API_KEY=your_google_ai_key
GOOGLE_AI_BASE_URL=
NARA_API_KEY=your_nara_key
NARA_BASE_URL=https://router.bynara.id/v1
OPENROUTER_API_KEY=your_openrouter_key
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
GENERATION_PROVIDER=OPENAI
EMBEDDING_PROVIDER=OPENAI
GENERATION_MODEL_ID_LITTERAL=["agnes-2.5-flash", "qwen-3.8-max-free", "/path/to/medgemma.gguf", "minimax/minimax-m3:free"]
GENERATION_MODEL_ID=minimax/minimax-m3:free
GENERATION_MODEL_PATH=/path/to/medgemma-4b-it-Q8_0.gguf
EMBEDDING_MODEL_ID_LITTERAL=["gemini-embedding-001", "/path/to/nomic-embed-text.gguf", "nvidia/llama-nemotron-embed-vl-1b-v2"]
EMBEDDING_MODEL_ID=nvidia/llama-nemotron-embed-vl-1b-v2
EMBEDDING_MODEL_PATH=
EMBEDDING_MODEL_SIZE=2048
INPUT_MAX_CHARACTERS=1024
GENERATION_MODEL_TEMPERATURE=0.5
MAX_OUTPUT_TOKENS=1000
LLAMA_CPP_N_CTX=2048
LLAMA_CPP_N_GPU_LAYERS=-1

################ VECTOR DB CONFIG ################
VECTOR_DB_BACKEND_LITTERAL=["QDRANT", "PGVector"]
VECTOR_DB_BACKEND=PGVector
VECTOR_DB_PATH=qdrant_db
VECTOR_DB_DISTANCE_METRIC=cosine
VECTOR_DB_PGVEC_INDEX_THRESHOLD=1000

################ Template Configs ################
DEFAULT_LANG=en
PRIMARY_LANG=en