APP_NAME="RAG-ISHMS"
APP_VERSION="0.1"

FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]   
FILE_MAX_SIZE=10
FILE_CHHUNK_SIZE=512000

 ################ DB CONFIG ################
# MONGO_URL=""
# MONGO_DATABASE="rag-ishms"

POSTGRES_USERNAME=""
POSTGRES_PASSWORD=""
POSTGRES_HOST=""
POSTGRES_PORT=5432
POSTGRES_MAIN_DATABASE="rag-ishms"

################ LLM CONFIG ################
COHERE_API_KEY=""
OPENAI_API_KEY=""
OPENAI_BASE_URL="https://router.bynara.id/v1"
GOOGLE_AI_API_KEY= ""
GOOGLE_AI_BASE_URL= ""
NARA_API_KEY=""



GENERATION_PROVIDER="OPENAI"
EMBEDDING_PROVIDER="LLAMA_CPP"

GENERATION_MODEL_ID="nemotron-3-ultra"
EMBEDDING_MODEL_ID="gemini-embedding-001"

EMBEDDING_MODEL_PATH=/home/yacine105/rag-ishms/models/embeddings/nomic-embed-text-v1.5.Q4_K_M.gguf

EMBEDDING_MODEL_SIZE=768

INPUT_MAX_CHARACTERS=1024
GENERATION_MODEL_TEMPERATURE=0.7
MAX_OUTPUT_TOKENS=200
LLAMA_CPP_N_CTX = 2048
LLAMA_CPP_N_GPU_LAYERS = -1


################ VICTOR DB CONFIG ################

VECTOR_DB_BACKEND= "QDRANT"
VECTOR_DB_PATH="qdrant_db"
VECTOR_DB_DISTANCE_METRIC="cosine"

################ Template Configs ################
Default_Lang = "en"
DEFAULT_LANG = "en"
PRIMARY_LANG = "en" 
