APP_NAME="RAG-ISHMS"
APP_VERSION="0.1"

FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]   
FILE_MAX_SIZE=10
FILE_CHHUNK_SIZE=512000

MONGO_URL="mongodb://localhost:27007"
MONGO_DATABASE="rag-ishms"

COHERE_API_KEY=""
OPENAI_API_KEY=""
OPENAI_BASE_URL=""
NARA_API_KEY=""

GENERATION_PROVIDER="openai"
EMBEDDING_PROVIDER="huggingface"

GENERATION_MODEL_ID="nemotron-3-ultra"
EMBEDDING_MODEL_ID="embed-multilingual-light-v3.0"

INPUT_MAX_CHARACTERS=1024
GENERATION_MODEL_TEMPERATURE=0.7
MAX_OUTPUT_TOKENS=200
